#vertical-line {
    background: url(../css/images/vertical-line.png) no-repeat;
    background-position: 680px 100px;
    position: relative;
}

.irma > p {
  color: #fff;
  background-color: #ea9b31;
  width: 350px;
  padding: 10px;
}

.brad > p {
  color: #fff;
  background-color: #4fbbeb;
  width: 350px;
  padding: 10px;
}

.title-today > h4 {
  color: #fff;
  background-color: #003c60;
  padding: 10px;
}

.title-today > h3 {
  color: #fff;
  background-color: #003c60;
  padding: 10px;
}

.birth-montage {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 2px solid #003c60;
  background-color: #fff;
  margin: 0; 
}

.irma > h3 {
  color: #fff;
  background-color: #ea9b31;
  width: 100%;
  padding: 10px;
  font-size: 16px;

}

.brad > h3 {
  color: #fff;
  background-color: #4fbbeb;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.irma-info {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 2px solid #ea9b31;
  background-color: #fff;
  margin: 0; 
}

.brad-info {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 2px solid #4fbbeb;
  background-color: #fff;
  margin: 0; 
}

/*hr lines*/

.first {
  border: 1px solid #ea9b31;
  width: 135px;
  margin-left: -40px;
}

.second {
  border: 1px solid #4fbbeb;
  width: 125px;
  margin-left: -30px;
}

.third {
  border: 1px solid #ea9b31;
  width: 220px;
  margin-top: 40px;
  margin-left: -33px;
}

.fourth {
  border: 1px solid #4fbbeb;
  width: 227px;
  margin-top: 40px;
  margin-left: -31px
}

/*media queries*/

@media(max-width:767px) {

    #vertical-line img, .first, .second, .third, .fourth {
        display: none;
    }
}

@media(max-width: 468px) {
   
    #vertical-line img {
        display: none;
        
   }
}

