body,
html {
    width: 100%;
    height: 100%;
}

body,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Istok Web', sans-serif;;
    font-weight: 500;
}

h1 {
    font-weight: 700;
}

ul, li {
    list-style: none;
}
ul { 
    overflow: hidden; 
}

li.active:after { 
    background: #ea9b31; 
    border-width: 1px 1px 0 0; 
    bottom: -5px;
    content: ' '; 
    display: block; 
    height: 10px;
    left: 32px;
    position: absolute; 
    width: 10px; 
    z-index: 99; 
    
    -webkit-transform: rotate(-45deg); 
    -webkit-transform-origin: 50% 50%; 
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    color: #000;
}

.navbar-default {
    border-bottom: 3px solid #ea9b31;
}

.navbar-brand > img {
    width: 50%;
}

.login > ul > li{
    list-style: none;
    padding-top: 20px;
}

.login > ul > li > a {
    color: #444;
}

.topnav {
    font-size: 14px; 
}

.lead-1 {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.lead-2 {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 10px;
}

.intro-header {
    background: url(../css/images/hero-bkg.jpg) no-repeat center center;
    background-size: cover;
    padding: 300px 0px;
}

.intro-message {
    position: relative;
    padding: 5% 0px;
}

#tagline {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
}

.intro-message > h1 {
    margin: 0;
    font-size: 3em;
    color: #000;
}

.intro-message > h3 {
    color: #000;
}

/*get started button*/
.cta-button {
    padding-top: 25px;
}

.cta-button > li {
    list-style: none;
}

.btn-default {
    background-color: #003c60;
    color: #fff;
}
.btn-lg {
    padding: 10px;
}

#side-buttons {
    /*left: 1111px;*/
    margin: 0 auto;
    position: relative;
    clear: both;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#side-buttons > .btn-contact {
    background-color: #4fbbeb;
    color: #fff;
    border-radius: 0px !important;
}

#side-buttons > .btn-demo {
    background-color: #ea9b31;
    color: #fff;
    border-radius: 0px !important;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }
}

.content-section {
    padding: 40px 0;
    background-color: #f8f8f8;
}

.content-section img {
    width: 70%;
}

.less img {
    width: 40%;
}

.content-section-a {
    padding: 100px 0;
    background-color: #fff;
}

.video {
    background-color: #eee;
    padding: 200px;
}

.content-section-b {
    background-color: #003c60;
}

.content-section-b h4 {
    color: #fff;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

#ag-data {
    background: url(../css/images/ag-home.jpg) no-repeat center top;
    background-size: cover;
    height: 600px;
}

#ag-data, .form-message {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 50px;
    color: #000;
    font-size: 18px;
}

.ag-btn {
    background-color: #ea9b31;
}

#testimonial {
    padding-top: 50px;
}
.quote {
    width: 20%;
}

.name > h4 {
    color: #4fbbeb;
    padding-bottom: 50px;
}

@media(max-width:1199px) {
    
    }
}

@media(max-width:767px) {

    }
}

@media(max-width: 468px) {
   
    .content-section img {
        width: 20%;
        
   }
}

/* Footer */

footer {
    padding: 25px 0;
    background-color: #6d6e71;
    color: #fff;
}


/* sign up modal */

.modal-body {
    height: 400px;
}

.modal-body  > .contact > .text-center > .input-text {
    padding: 5px 40px;
    margin-bottom: 10px;
    margin-right: 25px;
    background-color: #dadbdb;
    border: none;
}

.modal-body > .contact > .input-email {
     padding: 5px 169px;
     margin-left: 29px;
     margin-bottom: 20px;
     background-color: #dadbdb;
     border: none;
}

.modal-body > .contact > .input-message {
    padding: 100px 164px;
    margin-left: 29px;
    text-align: center;
}

.btn-modal {
    background-color: #4fbbeb;
    color: #000;
    border-radius: 0px !important;
    border: none;
}

















