.content-info {
  background: url(../css/images/business-process.jpg) no-repeat center center;
  background-size: cover;
  height: 100%;
}

.content-section-solution {
  background-color: #4fbbeb;
  color: #fff;
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
}

.content-info {
  background-color: #eee;
}
.fa-thumb-tack {
  color: #4fbbeb;
  margin-right: 10px;
}

#your-team {
  width: 400px;
  height: 280px;
  padding: 10px;
  border: 2px solid #ea9b31;
  margin: 0; 
}

.title-your-team, .title-our-team {
  padding-top: 25px;
}

.title-your-team > h4 {
  color: #fff;
  background-color: #ea9b31;
  width: 400px;
  padding: 10px;
  margin-bottom: 0px; 
}

.title-our-team > h4 {
  color: #fff;
  background-color: #003c60;
  width: 400px;
  padding: 10px;
  margin-bottom: 0px;
}

#our-team {
  width: 400px;
  height: 280px;
  padding: 10px;
  border: 2px solid #003c60;
  margin: 0; 
}

